<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Derivadas</title>
  <link rel="icon" type="image/png" href="../img/x.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="../js/angular/angular.min.js"></script>
  <script src="../js/math/math.min.js"></script>
  <script src="../js/math/d3.min.js"></script>
  <script src="../js/math/function-plot@1.14.0"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Trabalho de MNC</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="derivadas.html">Derivadas</a></li>
          <li><a href="raizes.html">Raizes</a></li>
          <li><a href="sistemasLineares.html">Sistemas Lineares</a></li>
          <li><a href="interpola.html">Interpolação</a></li>
          <li><a href="integral.html">Integral</a></li>
          <li><a href="sistemasNaoLineares.html">Sistemas Não-Lineares</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br>

  <div ng-app="myApp" ng-controller="myCtrl">
    <form class="w3-container">
      <div class="">
        <h2>Função Real com uma variável e f: R→R </h2>
        <!-- <h3 >Função:</h3> -->
        <input id="eq" class="w3-input w3-border " type="text" placeholder="Sua função"  ng-model = "expression">
        <br>
        <!-- <h3>Valor de x:</h3> -->
        <input class="w3-input w3-border " type="text" placeholder="Sua variável x"  ng-model = "x">
        <br>
        <!-- <h3>Valor de ε:</h3> -->
        <input class="w3-input w3-border " type="text" placeholder="Digite o ε" ng-model = "ep">
        <br>
        <p>
          <a class="btn btn-primary" ng-click = "  resultado = calcular(x);DerivadaSegunda = segunda(x); mostra=true; verificaEp()">Calcular   </a>
          <a class="btn btn-primary" ng-click = "x='';expression='';ep=''; resultado='';DerivadaSegunda=''; mostra=false">Limpa</a>
        </p>
        <br>
      </div>
      <div class="w3-card-4 space  resize" ng-show = "mostra" ng-hide="!mostra">
        <p><strong>f(x)= </strong> {{resultadoFuncao | limitTo:10}} </p>
        <p><strong>f'(x)= </strong> {{resultado | limitTo:10}}</p>
        <p><strong>f''(x)= </strong> {{DerivadaSegunda | limitTo:10}}</p>
        <!-- <h1>Gráfico de f(x)</h1>
        <div id="plot"></div> -->
      </div>

    </form>

    <form class="w3-container">
      <h2>Função Real com <strong>n</strong> variáveis Reais e <strong>f: Rn→R</strong> </h2>
      <br>
      <input class="w3-input w3-border " type="text" placeholder="Expressão em função de x e/ou y e/ou z"  ng-model = "expression2">
      <br>
      <input class="w3-input w3-border " type="text" placeholder="Digite o ε" ng-model = "ep2">
      <br>

      <p>
        <a class="btn btn-primary" ng-click = "Gradiente(); hessiano();">Calcular   </a>
        <a class="btn btn-primary" ng-click = "">Limpa</a>
      </p>

      <br>
      <p><a class="btn btn-primary" ng-click = "addRecipient(i)">Adiciona x[i]   </a>
        <a class="btn btn-primary" ng-click = "deleteRecipient(i)">Deleta x[i]</a>
      </p>
      <br>
      <h2>Valores de x, y e z</h2>
      <table class="w3-table-all w3-hoverable">
        <tr >
          <td class=""  ng-repeat = "l in i"><input class="w3-input w3-border " type="text" placeholder="{{variables[l]}}" style="width:40%" ng-model="variablesX[l]"></td>

        </tr>
      </table>
      <br><br>
      <h2>Gradiente</h2>
      <table class="w3-table-all w3-hoverable">
        <tr>
          <td class=""  ng-repeat = "s in i"><input class="w3-input w3-border " type="text" disabled placeholder="{{result[s]}}" style="width:40%" ng-model="grad[s]"></td>
        </tr>
      </table>
      <br><br>
      <h2>Hessiana</h2>
      <table class="w3-table w3-hoverable">
        <tr ng-repeat = "l in i">
          <td class=""  ng-repeat = "m in i"><input class="w3-input w3-border " type="text" disabled placeholder="{{result[s]}}" style="width:40%" ng-model = "hessiana[l][m]"></td>
        </tr>
      </table>
    </form>

    <form class="w3-container">
      <h1>Jacobiano</h1>
      <h2>Função Real com <strong>n</strong> variáveis Reais e <strong>f: Rn→R</strong> </h2>
      <!-- <h3>Valor de ε:</h3> -->
      <input class="w3-input w3-border " type="text" placeholder="Digite o ε">
      <br>
      <input class="w3-input w3-border " type="text" placeholder="{{m.length}}" disabled >
      <br>
      <p><a class="btn btn-primary" ng-click = "addRecipient(m); addRecipient(n)">Adiciona x[i]   </a>
        <a class="btn btn-primary" ng-click = "deleteRecipient(m); deleteRecipient(n)">Deleta x[i]</a>
      </p>
      <br>
      <h2>Variáveis</h2>
      <table class="w3-table w3-hoverable">
        <tr class="">
          <td  ng-repeat = "l in m"><input class="w3-input w3-border " type="text" style="width:40%" placeholder="{{variables[l]}}" ></td>
        </tr>
      </table>

      <!-- {{Rn.n + "  "+ Rn.Variavel}} -->
      <br>
      <h2>Funções</h2>
      <table class="w3-table w3-hoverable">
        <tr class=""  >
          <td ng-repeat = "l in n"><input class="w3-input w3-border " type="text" style="width:40%" placeholder="f[{{l}}]" ></td>
        </tr>
      </table>
      <br>
      <h2>Jacobiana</h2>
      <table class="w3-table w3-hoverable">
          <tr ng-repeat="l in n">
            <td ng-repeat="s in n">
                <input class="w3-input w3-border " type="text" placeholder="" style="width:40%" disabled >

            </td>
          </tr>

      </table>
      <br><br>
      <!-- {{Rn.n + "  "+ Rn.Variavel}} -->

      <br>
    </form>
  </div>
  <script src = "../js/derivada.js"></script>
  <br><br><br><br>
  <!-- Footer -->
  <footer class="container-fluid-footer bg-4 text-center">
    <p>
      Luis Uzai
    </p>  <a href="https://github.com/luisuzai"><img class="git" title="Github" src="../img/git.png" alt="" /></a>
  </footer>
</body>
</html>
