<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Integral</title>
  <link rel="icon" type="image/png" href="../img/x.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="../js/angular/angular.min.js"></script>
  <script src="../js/math/math.min.js"></script>
  <script src="../js/math/d3.min.js"></script>
  <script src="../js/math/function-plot@1.14.0"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home/Dicas</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="derivadas.html">Derivadas</a></li>
          <li><a href="raizes.html">Raizes</a></li>
          <li><a href="sistemasLineares.html">Sistemas Lineares</a></li>
          <li><a href="interpola.html">Interpolação</a></li>
          <li class="active"><a href="integral.html">Integral</a></li>
          <li><a href="sistemasNaoLineares.html">Sistemas Não-Lineares</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <br><br>

  <div ng-app="myApp" ng-controller="myCtrl">
    <form class="w3-container">
      <h2>
        Calculo da Integral
      </h2>
      <input id="" class="w3-input w3-border " type="text" placeholder="Sua f(x)"  ng-model = "expression">
      <div class="toLine">
        <br>
        <input id="" class="w3-input w3-border " type="text" placeholder="a" style="width:40%" ng-model = "a">
        <br>
        <input id="" class="w3-input w3-border " type="text" placeholder="b" style="width:40%" ng-model = "b">
        <br>
        <input id="" class="w3-input w3-border " type="text" placeholder="n" style="width:40%" ng-model = "n">
      </div>
      <br>
      <div class="radio">

        <label class="radio-inline"><input type="radio" ng-model="whatDo" value="retDir"><strong>Retângulo Direita</strong></label>
        <label class="radio-inline"><input type="radio" ng-model="whatDo" value="retEsq"><strong>Retângulo Esquerda</strong></label>
        <label class="radio-inline"><input type="radio" ng-model="whatDo" value="Trape"><strong>Trapézio</strong></label>
        <label class="radio-inline"><input type="radio" ng-model="whatDo" value="simpsonOneDo"><strong>1/3 de Simpson</strong></label>
        <label class="radio-inline"><input type="radio" ng-model="whatDo" value="simpsonThreeDo"><strong>3/8 de Simpson</strong></label>
      </div>

      <br>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="plot()" data-target="#myModal">Gráfico</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Gráfico</h4>
            </div>
            <div class="modal-body">

              <div id="plot"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <br><br><br>
      <div ng-switch="whatDo">
        <div ng-switch-when="retEsq">
          <p><a class="btn btn-primary" ng-click = "resultado = Trapezio(2)">Calcula</a>
            <a class="btn btn-primary" ng-click = "Limpa()">Limpa</a>
          </p>
          <h3>Solução: {{resultado | limitTo:8}}</h3>
        </div>
        <div ng-switch-when="retDir">
          <p><a class="btn btn-primary" ng-click = "resultado = Trapezio(1)">Calcula</a>
            <a class="btn btn-primary" ng-click = "Limpa()">Limpa</a>
          </p>
          <h3>Solução: {{resultado | limitTo:8}}</h3>
        </div>
        <div ng-switch-when="Trape">
          <p><a class="btn btn-primary" ng-click = "resultado = Trapezio(3)">Calcula</a>
            <a class="btn btn-primary" ng-click = "Limpa()">Limpa</a>
          </p>
          <h3>Solução: {{resultado | limitTo:8}}</h3>
        </div>
        <div ng-switch-when="simpsonOneDo">
          <p><a class="btn btn-primary" ng-click = "resultado = simpsonOne()">Calcula</a>
            <a class="btn btn-primary" ng-click = "Limpa()">Limpa</a>
          </p>
          <h3>Solução: {{resultado | limitTo:8}}</h3>
        </div>
        <div ng-switch-when="simpsonThreeDo">
          <p><a class="btn btn-primary" ng-click = "resultado = simpsonThree()">Calcula</a>
            <a class="btn btn-primary" ng-click = "Limpa()">Limpa</a>
          </p>
          <h3>Solução: {{resultado | limitTo:8}}</h3>
        </div>
      </div>
      <!-- <h3>Solução: {{resultado | limitTo:8}}</h3> -->
      <!-- <div id="plot"></div> -->
    </form>
  </div>

  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br>
  <!-- Footer -->
  <footer class="container-fluid-footer bg-4 text-center">
    <p>
      Luis Uzai
    </p>  <a href="https://github.com/luisuzai"><img class="git" title="Github" src="../img/git.png" alt="" /></a>
  </footer>
  <script src = "../js/integral.js"></script>
</body>
</html>
