<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Raizes</title>
  <link rel="icon" type="image/png" href="../img/x.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="../js/angular/angular.min.js"></script>
  <script src="../js/math/math.min.js"></script>
  <script src="../js/math/d3.min.js"></script>
  <script src="../js/math/function-plot@1.14.0"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Home/Dicas</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="derivadas.html">Derivadas</a></li>
          <li class="active"><a href="raizes.html">Raizes</a></li>
          <li><a href="sistemasLineares.html">Sistemas Lineares</a></li>
          <li><a href="interpola.html">Interpolação</a></li>
          <li><a href="integral.html">Integral</a></li>
          <li><a href="sistemasNaoLineares.html">Sistemas Não-Lineares</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br>

  <div ng-app="myApp" ng-controller="myCtrl">
    <!-- <form class="w3-container">
    <div class="">
    <h2>Função, intervalo de busca e passos para separar o intervalo com indício de conter as raízes </h2>
    <input id="eq" class="w3-input w3-border " type="text" placeholder="Sua função"  ng-model = "expression">
    <br>
    <input class="w3-input w3-border " type="text" placeholder="Intervalo a"  ng-model = "a">
    <br>
    <input class="w3-input w3-border " type="text" placeholder="Intervalo b"  ng-model = "b">
    <br>
    <input class="w3-input w3-border " type="text" placeholder="Digite o Δ" ng-model = "delta">
    <br>
    <table class="w3-table w3-hoverable">
    <thead >
    <th ng-repeat = "m in intervaloImparp">
    a
  </th>
</thead>
<tr>
<td class=""  ng-repeat = "m in intervaloImparp"><input class="w3-input w3-border " type="text" disabled placeholder="" style="width:100%" ng-model = "m"></td>
</tr>
</table>
<table class="w3-table w3-hoverable">
<thead >
<th ng-repeat = "l in intervaloImparp">
b
</th>
</thead>
<tr>
<td class=""  ng-repeat = "m in intervaloImparq"><input class="w3-input w3-border " type="text" disabled placeholder="" style="width:100%" ng-model = "m"></td>
</tr>
</table>
<br>
<p><a class="btn btn-primary" ng-click = "">Calcular   </a>
<a class="btn btn-primary" disabled ng-click = "">Limpa</a>
<a class="btn btn-primary" disabled ng-click = "">Mostra Gráfico</a>
</p>
<br>
</div>
</form> -->
<!-- <div class="w3-card-4 space  resize" ng-show = "mostra" ng-hide="!mostra">
<h1>Gráfico de f(x)</h1>
<div id="plot"></div>
</div> -->
<form class="w3-container foot">
  <div class="">
    <h2>Função, intervalo de busca e precisão para calcular raiz no intervalo </h2>
    <input id="" class="w3-input w3-border " type="text" placeholder="Sua função" ng-model = "expression">
    <br>
    <input class="w3-input w3-border " type="text" placeholder="Intervalo a"  ng-model = "a">
    <br>
    <input class="w3-input w3-border " type="text" placeholder="Intervalo b"  ng-model = "b">
    <br>
    <input class="w3-input w3-border " type="text" placeholder="Digite o ε" ng-model = "ep">
    <br>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="plot()" data-target="#myModal">Gráfico</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Gráfico</h4>
          </div>
          <div class="modal-body">

            <div id="plot"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <br>
    <h2>Métodos disponíveis</h2>
    <label class="radio-inline"><input type="radio" ng-model="whatDo" value="bisMet"><strong>Método da Bisseção</strong></label>
    <label class="radio-inline"><input type="radio" ng-model="whatDo" value="cordasMet"><strong>Método das cordas</strong></label>
    <label class="radio-inline"><input type="radio" ng-model="whatDo" value="Newton"><strong>Método de Newton</strong></label>
    <label class="radio-inline"><input type="radio" ng-model="whatDo" value="cordasMod"><strong>Método das cordas modificado</strong></label>
    <label class="radio-inline"><input type="radio" ng-model="whatDo" value="NewtonMod"><strong>Método de Newton modificado</strong></label>



    <br><br>

    <div ng-switch="whatDo">
      <div ng-switch-when="bisMet">
        <p><a class="btn btn-primary" ng-click = "buscaUniforme(); divisaoMeioCalculator();plot()">Calcula</a>
          <a class="btn btn-primary" ng-click = "">Limpa</a>
        </p>
      </div>
    </div>
    <div ng-switch="whatDo">
      <div ng-switch-when="cordasMet">
        <p><a class="btn btn-primary" ng-click = "buscaUniforme(); cordasCalculator();">Calcula</a>
          <a class="btn btn-primary" ng-click = "">Limpa</a>
        </p>
      </div>
    </div>
    <div ng-switch="whatDo">
      <div ng-switch-when="Newton">
        <p><a class="btn btn-primary" ng-click = "buscaUniforme();newtonCalculator();">Calcula</a>
          <a class="btn btn-primary" ng-click = "solucao">Limpa</a>
        </p>
      </div>
    </div>
    <div ng-switch="whatDo">
      <div ng-switch-when="cordasMod">
        <p><a class="btn btn-primary" ng-click = "buscaUniforme(); cordasModCalculator();">Calcula</a>
          <a class="btn btn-primary" ng-click = "">Limpa</a>
        </p>
      </div>
    </div>
    <div ng-switch="whatDo">
      <div ng-switch-when="NewtonMod">
        <p><a class="btn btn-primary" ng-click = "buscaUniforme(); newtonModCalculator();">Calcula</a>
          <a class="btn btn-primary" ng-click = "">Limpa</a>
        </p>
      </div>
    </div>
    <br>
    <table class="w3-table w3-hoverable">
      <thead >
        <th ng-repeat = "m in intervaloImparp">
          Solução
        </th>
      </thead>
      <tr>
        <td ng-repeat = "l in solucao"><input class="w3-input w3-border " type="text" disabled style="width:100%" ng-model = "l"></td>
      </tr>
    </table>
  </div>
</form>
</div>
<br><br><br><br><br><br><br>
<!-- Footer -->
<footer class="container-fluid-footer bg-4 text-center">
  <p>
    Luis Uzai
  </p>  <a href="https://github.com/luisuzai"><img class="git" title="Github" src="../img/git.png" alt="" /></a>
</footer>
<script src = "../js/raizes.js"></script>
</body>
</html>
