<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sistemas Lineares</title>
  <link rel="icon" type="image/png" href="../img/x.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="../js/angular/angular.min.js"></script>
  <script src="../js/math/math.min.js"></script>
  <script src="../js/math/d3.min.js"></script>
  <script src="../js/math/function-plot@1.14.0"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Trabalho de MNC</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="derivadas.html">Derivadas</a></li>
          <li><a href="raizes.html">Raizes</a></li>
          <li class="active"><a href="sistemasLineares.html">Sistemas Lineares</a></li>
          <li><a href="interpola.html">Interpolação</a></li>
          <li><a href="integral.html">Integral</a></li>
          <li><a href="sistemasNaoLineares.html">Sistemas Não-Lineares</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <br><br>


  <div ng-app="myApp" ng-controller="myCtrl">

    <form class="w3-container">
      <h2>Métodos</h2>
      <select id="sct" class="form-control">
        <optgroup label="Diretos">
          <option value="linear">Gauss - Simples</option>
          <option value="newton">Gauss - Pivotamento Parcial</option>
          <option value="gregory">Gauss - Pivotamento total</option>
          <option value="linear">Gauss - Compacto</option>
          <option value="newton">Decomposição L.U</option>
          <option value="gregory">Cholesky</option>

        </optgroup>
        <optgroup label="Iterativos">
          <option value="linear">Jacobi-Richardson</option>
          <option value="newton">Gauss-Seidel</option>

        </optgroup>
      </select>

    </form>

    <form class="w3-container">

      <div class="">
        <h3>Ordem do Sistema</h3>
        <input class="w3-input w3-border " type="text" placeholder="{{i.length}}" disabled >
        <br>

      </div>
      <p><a class="btn btn-primary" ng-click = "addRecipient(i);">Adiciona x[i]   </a>
        <a class="btn btn-primary" ng-click = "deleteRecipient(i);">Deleta x[i]</a>
      </p>
      <br>
      <p><a class="btn btn-primary" ng-click = "triangulo(); tSolution();">Calcular </a>
        <a class="btn btn-primary" ng-click = "">Limpar</a>
        <a class="btn btn-primary" ng-click = "">Mostra Gráfico</a>
      </p>
    </form>
    <form class="w3-container">
      <h2>Dados</h2>
      <table class="w3-table-all w3-hoverable">
        <tr class=""  ng-repeat = "l in i">
          <td ng-repeat = "m in i"><input class="w3-input w3-border " type="text" placeholder="x[{{m}}]" style="width:100%" ng-model="matrixMain[l][m]"></td>
          <td><input class="w3-input w3-border " type="text" placeholder="b[{{l}}]" style="width:100%" ng-model="b[l]"></td>
        </tr>
      </table>
      <h3>X inicial</h3>
      <table class="w3-table-all w3-hoverable">
        <tr>
          <td ng-repeat = "m in i"><input class="w3-input w3-border " type="text" placeholder="Inicial x[{{m}}]" style="width:100%" ng-model="x[m]"></td>
        </tr>
      </table>
    </form>
  </div>
  <script src = "../js/sistemas.js"></script>

  <!-- Footer -->
  <footer class="container-fluid-footer bg-4 text-center">
    <p>
      Luis Uzai
    </p>  <a href="https://github.com/luisuzai"><img class="git" title="Github" src="../img/git.png" alt="" /></a>
  </footer>
</body>
</html>
